* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #121214;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #FFF;
}

body,
button,
input {
  font-family: 'Roboto', sans-serif;
}